CMS_GITHUB_REPO=seu-usuario-ou-org/clube-arte-luta-v2
CMS_GITHUB_BRANCH=main
CMS_SITE_URL=https://clubedearteeluta.vercel.app

OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=
OAUTH_GITHUB_SCOPE=repo
